<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="localFileConfigStorage"
		class="zz.zcrawler.data.impl.LocalFileConfigStorage">
	</bean>
	<bean id="memURLStorage" class="zz.zcrawler.data.impl.MemURLStorage"></bean>
	
	<bean id="taskManager" class="zz.zcrawler.task.TaskManager">
		<property name="taskSize" value="10"></property>
		<property name="urlStorage" ref="memURLStorage"></property>
	</bean>
	
	
</beans>
